<div class="relative   min-h-screen  sm:flex sm:flex-row  justify-center bg-transparent rounded-3xl shadow-xl">
  <div class="flex justify-center self-center  z-10">
    <div class="p-12 bg-white mx-auto rounded-3xl w-96 ">

      <div class="space-y-6">
        <div class="">
          <input
            class=" w-full text-sm  px-4 py-3 bg-gray-200 focus:bg-gray-100 border  border-gray-200 rounded-lg focus:outline-none focus:border-purple-400"
            type="" placeholder="Email">
        </div>

        <div class="relative">
          <input placeholder="Password" type="password'"
            class="text-sm text-gray-200 px-4 py-3 rounded-lg w-full bg-gray-200 focus:bg-gray-100 border border-gray-200 focus:outline-none focus:border-purple-400">
        </div>

        <div class="flex items-center justify-between">

          <div class="text-sm ml-auto">
            <a routerLink="/auth/new-account" class="text-purple-700 hover:text-purple-600">
              New account!
            </a>
          </div>
        </div>
        <div>
          <button type="submit"
            class="w-full flex justify-center bg-purple-800  hover:bg-purple-700 text-gray-100 p-3  rounded-lg tracking-wide font-semibold  cursor-pointer transition ease-in duration-500">
            Sign in
          </button>
        </div>

      </div>
      <div class="mt-7 text-center text-gray-300 text-xs">
        <span>
          MyHotels by Jorge 2024
          <a href="https://www.linkedin.com/in/jorge-arley-ospina-7a5611125/" rel="" target="_blank" title="Codepen aji"
            class="text-purple-500 hover:text-purple-600 ">JA</a></span>
      </div>
    </div>
  </div>
</div>
